*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}
body{
    background-image: url(../assets/images/wood-g4008d6e4e_1920.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* height: 50vh;  */
    background-attachment: fixed;
}
main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}
.global-container{
    width: 100%;
    max-width: 800px;
    position: relative;
    margin: auto;
}
.background-box{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(1px);
    background-color: ;
    
}